// -- MAIN DIV --
.main-div {
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0.6em;
    background-color: rgba($black-color, 0.9);
    background-image:
        linear-gradient(rgba($black-color, 0.7), rgba($black-color, 0.7)), 
        url($image-url-intro);
    position: relative;
    color: $white-color;
}

// -- TITLE AND SUB-TITLE --
.title {
    position: absolute;
    font-size: 12vw;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: title-animation;
    animation-duration: 1s;
}

.sub-title {
    position: absolute;
    font-size: 4vw;
    top: 20vh;
    left: 6vw;
    animation-name: sub-title-animation;
    animation-duration: 1s;
}




