$black-color: #000;
$light-green-color: #2dc450;
$normal-green-color: #28a745;
$darker-green-color: #124d20;
$white-color: white;

$image-url-intro: '../assets/images/background-intro.jpg';
$image-url-wish-register: '../assets/images/background-wish-register.jpg';