* {
    font-size: 15px;
}

body {
    margin: 0px;
}

h1 {
    font-size: 2em;
    margin: 40px 20px 50px 20px;
}

.Container {
    background-color: lightblue;
    width: 100%;
    height: 500px;
    position: relative;
}
