.Container {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgba($black-color, 0.9);
    background-image:
        linear-gradient(rgba($black-color, 0.7), rgba($black-color, 0.7)), 
        url($image-url);
}
